.notebook {
    background-image: linear-gradient(180deg, transparent 60px, rgba(0, 0, 0, 0.1) 60px);
    background-size: 100% 20px;
    background-repeat: repeat-y;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .notebook label {
    font-weight: bold;
  }
  
  .notebook input,
  .notebook select {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-family: inherit;
    padding: 4px 0;
  }
  
  .notebook input:focus,
  .notebook select:focus {
    outline: none;
    border-color: #CC2E2B; /* Change border color on focus */
  }
  